/* CSS untuk menyesuaikan tampilan navigasi */
.nav-link {
    color: white !important; /* Teks menjadi putih */
  }
  
  .nav-link.active {
    color: #f0e68c !important; /* Warna link aktif bisa kamu sesuaikan, misalnya kuning pucat */
  }
  
  /* semuanya */
  * {
    font-family: "Inter", sans-serif;
  }
  body{
    background-color: #620808;
  }

  /* home */
  .text-white {
    color: #D3D3D3 !important;
  }

  .text-collor {
    color: #333333 !important;
  }

  .bold-text {
    font-weight: bold;
  }
  
  
  /* informatikia */
  .text-informatika{
    color: blue;
  }

  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: yellow;
    border-radius: 50%;
    color: black; /* Warna ikon */
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .social-icon:hover {
    background-color: gold;
    transform: scale(1.1);
  }
  